#icon{
    width: 200px;
    height: 300px;
}

#Menu{
    padding-right: 10px;
}

body{
    margin: 0px;
    padding: 0px;
    background-color: rgb(65, 75, 71);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: rgb(0, 0, 0);
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.compras{
    width: 300px;
    height: 200px;
    border: 4px;
    border-radius: 15px;
}