#icon{
    width: 160px;
    height: auto;
}

#Menu{
    padding-right: 10px;
}

body{
    margin: 0px;
    padding: 0px;
    background-color: rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: rgb(26, 43, 54);
    color: white;
    padding: 24px 40px;
}

.compras{
    width: 180px;
    min-height: 160px;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0 , 0.1);
    padding: 12px;
}

#pedidos{
position: fixed;
bottom: 0px;
right: 0px;
}

#status{
position: fixed;    
right: 0px;
top: 0px;
}

#mensagens{
top: 30%;
right: 0px;
position: fixed;
}