#icon{
    width: 180px;
    height: auto;
}

#Menu{
    padding-right: 10px;
}

body{
    margin: 0px;
    padding: 0px;
    background-color: rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#navbar{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px;
    background-color: rgb(21, 120, 138);
    color: white;
    border-radius: 20px;
    width: 60%;
    margin-left: 40px auto;
    margin: 10px;
}

.compras{
    width: 180px;
    min-height: 160px;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0 , 0.1);
    padding: 12px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    
}
#pedidos{
position: fixed;
bottom: 0px;
right: 0px;
}

#status{
position: fixed;    
right: 0px;
top: 0px;
}

#mensagens{
top: 30%;
right: 0px;
position: fixed;
}

.compras-container{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.compras img{
    width: 150px;
    height: auto;
    display: flex;
}

#pedidos{
position: fixed;
bottom: 0px;
right: 0px;
}

#status{
position: fixed;    
right: 0px;
top: 0px;
padding: 15px;
margin-bottom: 20px;

}

#mensagens{
top: 40%;
right: 0px;
position: fixed;
padding: 15px;
margin-bottom: 20px;

}

#requisições{
position: fixed;
bottom: 0px;
left: 0px;
}

tela 1

body {
    font-family: Arial;
    margin: 0;
    background-color: #f0f0f0;
}
